<nz-card>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="令狐冲" [nzExtra]="extralTem">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/1.jpeg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:庞子杰</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>



        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="乔峰" [nzExtra]="extralTem1">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/7.jpg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:深空探索</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem1>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>

        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="段正淳" [nzExtra]="extralTem2">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/1.jpeg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:深空探索</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem2>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>
        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="段正淳" [nzExtra]="extralTem3">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/6.jpg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:庞子杰</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem3>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>
    </div>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="陈佳乐" [nzExtra]="extralTem4">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/5.jpg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:庞子杰</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem4>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>
        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="虚竹" [nzExtra]="extralTem5">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/4.jpg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:庞子杰</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem5>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>
        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="段玉" [nzExtra]="extralTem7">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/2.jpg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:庞子杰</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem7>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>
        <div nz-col [nzSpan]="6">
            <nz-card style="width:372px;height: 400px;" nzTitle="洪七公" [nzExtra]="extralTem8">
                <nz-avatar style="top: 101px;left: 152px; position: absolute;" [nzSize]="64"
                    nzSrc="../../../../assets/tmp/cardImag/3.jpg">
                </nz-avatar>
                <div style="top: 215px;left:104px;position: absolute;">
                    <span style="display:block;color: blue;">用户:庞子杰</span>
                    <span style="display:block;color: blue;">电子邮箱：799953277@qq.com</span>
                    <span style="display:block;color: blue;">注册时间</span>
                    <span style="display:block;color: blue;">用户状态:禁用<nz-switch [(ngModel)]="switchValue"></nz-switch>
                        启用</span>
                </div>
            </nz-card>
        </div>
        <ng-template #extralTem8>
            <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i> <span style="color: red;">删除</span>
        </ng-template>
    </div>
</nz-card>